<div class="row">
  <div class="card col-md-6 offset-md-3 offset-md-3">
    <div class="row">
      <h3 class="text-center">Update Book</h3>
      <hr />
      <div class="card-body">
        <form (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label>Title</label>
            <input
              type="text"
              class="form-control"
              id="title"
              [(ngModel)]="book.title"
              name="title"
            />
          </div>

          <div class="form-group">
            <label>Author</label>
            <input
              type="text"
              class="form-control"
              id="author"
              [(ngModel)]="book.author"
              name="author"
            />
          </div>

          <mat-form-field>
            <mat-label>Select a genre</mat-label>
            <mat-select
              [(value)]="selectedGenre"
              class="form-control"
              (selectionChange)="onSelectionChange()"
            >
              <mat-option *ngFor="let genre of genres" [value]="genre.id">
                {{ genre.genre }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <br />
          <button class="btn btn-success" type="submit" (click)="onSubmit()">
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
